<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" th:href="@{/css/login/login.css}">
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}"/>

</head>

<body>

<div class="admin-login-page">
    <div class="form">
        <form class="login-form user " th:action="@{/login}" method="POST">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <input type="text" placeholder="Username" id="usernameId" name="username" required/>
            <input type="password" placeholder="Password" name="password" id="passwordId" required/>
            <button type="submit" value="Login">Log In</button>
        </form>
        <div th:if="${error != null}" class="alert alert-danger mt-3" role="alert">email or password invalid.</div>
        <div th:if="${logout != null}" class="alert alert-info text-center mt-3" role="alert">Come back soon</div>
    </div>
</div>

</body>

</html>

